* {
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0px;
}
h1 {
	text-align: center;
	font-size: 175%;
	margin: 20px auto 20px auto;
}
.wrapper {
	width: 100%;
	padding: 3%;
	/*background-color: blue;*/
	overflow: auto;
}
h2 {
	width: 35%;
	text-align: center;
	font-size: 125%;
	position: relative;
	right: -66%;
	top: -1px;
	border: 1px solid #000000;
	border-bottom-left-radius: 5px;
}
p {
	padding: 10px;
}
.section {
	margin-bottom: 1em;
	border: 1px solid #000000;
	background-color: #A9A9A9;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
#chicken {
	background-color:pink;
}
#beef {
	background-color:red;
}
#sushi {
	background-color:orange;
}
/* Large screens only */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
	margin-left: 1%;
	margin-right: 1%;
    width: 31.33%;
  }
}
/* Tablet devices or smaller screens only */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
	margin-left: 1%;
	margin-right: 1%;
  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-12 {
    width: 98%;
  }
  .col-md-12 > h2 {
	  width: 17.5%;
	  right: -83.5%;
  }
}
/* Screen size of 767px or smaller will result in normal flow */